apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: cluster-autoscaler
  annotations:
    config.kubernetes.io/local-config: "true"

namespace: kube-system

commonLabels:
  component: scalability
  scalability-type: cluster-autoscaler
  managed-by: opifex-framework

resources:
  - service-account.yaml
  - cluster-role.yaml
  - cluster-role-binding.yaml
  - config-map.yaml
  - cluster-autoscaler.yaml

images:
  - name: registry.k8s.io/autoscaling/cluster-autoscaler
    newTag: v1.28.0

configMapGenerator:
  - name: cluster-autoscaler-config
    literals:
      - cloud-provider=aws
      - region=us-west-2
      - cluster-name=opifex-cluster
      - expander=least-waste
      - scale-down-enabled=true
      - balance-similar-node-groups=true
