apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: opifex-monitoring
  labels:
    app.kubernetes.io/name: opifex-grafana
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/part-of: opifex-framework
data:
  datasources.yml: |
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus:9090
      isDefault: true
      editable: true
      jsonData:
        httpMethod: POST
        queryTimeout: 60s
        timeInterval: 15s
      version: 1
