apiVersion: v1
kind: Service
metadata:
  name: prometheus-external
  namespace: opifex-monitoring
  labels:
    app.kubernetes.io/name: opifex-prometheus
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/part-of: opifex-framework
  annotations:
    description: "External access to Prometheus web interface"
spec:
  type: NodePort
  ports:
    - name: web
      port: 9090
      targetPort: web
      protocol: TCP
      nodePort: 30090
  selector:
    app.kubernetes.io/name: opifex-prometheus
    app.kubernetes.io/component: monitoring
